<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="/static/js/draw.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>DC추첨기</title>
    <meta id="call-id" data-token="">
</head>

<body>
    <div class="ui container" id="main-container">
        <h1>디시인사이드 추첨기</h1>
        <div class="ui action fluid labeled input">
            <div class="ui label">https://</div>
            <input type="text" id="url-input" placeholder="gall.dcinside.com/">
            <div class="ui animated fade button" onclick="searchArticle(this);" tabindex="0">
                <div class="visible content">Search</div>
                <div class="hidden content"><i class="search icon"></i></div>
            </div>
        </div>
        <div class="three ui buttons">
            <button class="ui button" onclick="location.href = '/view_log'">로그 보기</button>
            <button class="ui button" onclick="viewRecentWinner();">최근 당첨자 보기</button>
            <button class="ui button" onclick="viewOptionBox();">옵션</button>
        </div>
        <div class="ui segment" id="option-segment" style="display: none;">
            <h2>옵션 설정</h2>
            <div class="ui divider"></div>
            <div class="ui action fluid labeled input word-input">
                <div class="ui label">제외 단어</div>
                <input type="text" id="exclude-word-input" placeholder="제외할 단어를 입력하세요">
                <button class="ui button" onclick="inOrExcludeWord('#exclude-word-input');">등록</button>
            </div>
            <div class="ui action fluid labeled input word-input">
                <div class="ui label">포함 단어</div>
                <input type="text" id="include-word-input" placeholder="필수로 포함해야 할 단어를 입력하세요">
                <button class="ui button" onclick="inOrExcludeWord('#include-word-input');">등록</button>
            </div>
            <div class="ui slider checkbox">
                <input type="checkbox" id="ip-allow-checkbox" onclick="excludeIpFlag = this.checked;" tabindex="0">
                <label>유동 제외하기</label>
            </div>
            <div id="exclude-word-list"><h4>제외 단어: </h4></div>
            <div id="include-word-list"><h4>포함 단어: </h4></div>
            <div class="two ui buttons">
                <div class="ui button" onclick="applyOptions();">적용하기</div>
                <div class="ui button" onclick="resetOptions();">초기화</div>
            </div>
        </div>
        <div class="ui segment" id="recent-winner-segment" style="display: none;">
            <h2>최근 당첨자</h2>
            <div class="ui divider"></div>
            <div class="ui green large label" style="display: none;" data-type="template_recent">
                <div class="detail"></div>
            </div>
        </div>
        <div class="ui pointing below red basic label">
            참가자 라벨을 누르면 추가하거나 제외할 수 있습니다
            <i class="delete icon" onclick="this.parentNode.remove();"></i>
        </div>
        <div class="ui segment" id="include-segment">
            <h2>추첨 리스트</h2>
            <div class="ui divider"></div>
            <a class="ui teal large label" style="display: none;" onclick="toggleExclude(this);" data-type="template" data-nick="" data-id="">
                <div class="detail"></div>
            </a>
        </div>
        <div class="ui segment" id="exclude-segment">
            <h2>제외 리스트</h2>
            <div class="ui divider"></div>
        </div>
        <div class="ui form" id="draw-form">
            <div class="field">
                <label>추첨인원</label>
                <input type="number" id="peoples" value="1">
            </div>
            <div class="ui center aligned grid">
                <div class="ui disabled animated fade button" onclick="clickDraw(this);" tabindex="0">
                    <div class="visible content">추첨하기</div>
                    <div class="hidden content">GO!</div>
                </div>
            </div>
        </div>
        <div class="ui" id="view-comment-area">
        </div>
        <div id="winner-click-notice" class="ui pointing below blue basic label" style="display: none;">
            당첨자 라벨을 누르면 댓글을 확인할 수 있습니다
            <i class="delete icon" onclick="this.parentNode.remove();"></i>
        </div>
        <div class="ui segment" id="winner-segment" style="display: none;">
            <h2>당첨 리스트</h2>
            <div class="ui divider"></div>
        </div>
    </div>
</body>

</html>
