<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <style>
        body {
            text-align: center !important;
        }
    </style>
    <title>DC추첨기</title>
</head>

<body>
    <div class="ui result-page">
        <h1 class="title">추첨 결과</h1>
        <div class="ui horizontal segments">
            <div class="ui segment horizontal-align">
                <h3>갤러리 ID: </h3>
                <span class="info-text" id="gall-id"></span>
            </div>
            <div class="ui segment horizontal-align">
                <h3>글 번호: </h3>
                <span class="info-text" id="article-no"></span>
            </div>
            <div class="ui segment horizontal-align">
                <h3>로그 번호: </h3>
                <span class="info-text" id="log-no"></span>
            </div>
            <div class="ui segment horizontal-align">
                <h3>추첨 인원: </h3>
                <span class="info-text" id="num-of-entries"></span>
            </div>
        </div>
        <div class="ui segments">
            <div id="include-segment" class="ui segment">
                <h2 class="sub-title">추첨 리스트</h2>
            </div>
            <div id="exclude-segment" class="ui segment">
                <h2 class="sub-title">제외 리스트</h2>
            </div>
        </div>
        <div id="winner-segment" class="ui segment">
            <h2 class="sub-title">당첨자</h2>
        </div>
    </div>
    <script>
        const qs = document.querySelector.bind(document);
        const status = JSON.parse('<%- JSON.stringify(status); %>');
        const res = <%- JSON.stringify(result); %>;
        if (!status) { alert('오류가 발생하였습니다.'); }
        qs('#gall-id').textContent = res.gallId;
        qs('#article-no').textContent = res.articleNo;
        qs('#log-no').textContent = res.logNo;
        qs('#num-of-entries').textContent = res.numOfEntries;
        const createLabel = (color, text, detail) => {
            const element = document.createElement('div');
            element.classList.add('ui', 'label', 'huge', 'result-label', color);
            const detailLabel = document.createElement('div');
            detailLabel.classList.add('detail');
            const labelTextNode = document.createTextNode(text);
            element.appendChild(labelTextNode);
            const detailTextNode = document.createTextNode(detail);
            detailLabel.appendChild(detailTextNode);
            element.appendChild(detailLabel);
            return element;
        };
        const includeSegment = qs('#include-segment');
        for (const entry of res.includeEntries) {
            const newLabel = createLabel('blue', entry[0], entry[1]);
            includeSegment.appendChild(newLabel);
        }
        const excludeSegment = qs('#exclude-segment');
        for (const entry of res.excludeEntries) {
            const newLabel = createLabel('red', entry[0], entry[1]);
            excludeSegment.appendChild(newLabel);
        }
        if (res.excludeEntries.length == 0) {
            excludeSegment.innerHTML += '<i class="grey x icon" style="font-size: 3em !important;"></i>'
        }
        const winnerSegment = qs('#winner-segment');
        for (const winner of res.winners) {
            const newLabel = createLabel('green', winner[0], winner[1]);
            winnerSegment.appendChild(newLabel);
        }
    </script>
</body>

</html>