<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <title>DC추첨기</title>
</head>

<body>
    <div class="ui container" id="main-container">
        <h1>서비스 운영 종료 안내</h1>
        <p style="font-size: 1.4em;">
            안녕하세요. dclottery 운영자입니다. <br>
            저희 서비스는 이용자 수 저조로 인해 6월 30일까지 운영 후 서비스를 종료할 계획입니다. <br>
            현재 별도의 수익 창출 없이 개인적인 사비를 통해 서비스를 운영하는 상황입니다. <br>
            약 5000개에 달하는 로그 기록은 다른 방법을 통해 추후 계속 공개하도록 하겠습니다. <br>
            <a href="https://github.com/dlcjsdltlq/dclottery" target="_blank">GitHub</a>에 서비스의 소스 코드를 공개했으니 운영을 원하시는 분은 먼저 연락해주신 후 새로 운영하셔도 됩니다. <br>
            <br>
            지금까지 본 서비스를 이용해 주신 모든 분들께 감사의 말씀을 전합니다. <br>
        </p>
    </div>
</body>

</html>