@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

div, a, p, input, span, h1, h2, h3, h5, .button {
    font-family: inherit !important;
}

.ui {
    margin-top: 3em;
}

.ui.container {
    padding-bottom: 20px;
}

.ui > h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}

#draw-form > .grid {
    margin: 1em 0 0 1em;
}

.three.ui.buttons {
    margin-top: 10px;
}

.ui.fluid.basic.label {
    margin: 4px;
}

.ui.pointing {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.word-input {
    margin: 3px;
}

.checkbox {
    margin-top: 8px;
}

.ui.fluid.basic.label > i {
    float: right;
}

#exclude-word-list, #include-word-list {
    padding: 5px;
}

h3, h4 {
    display: inline;
}

.title {
    font-size: 4em !important;
}

.sub-title {
    font-size: 2.7em !important;
}

.template {
    display: none !important;
}

.info-text {
    font-size: 2.5em;
    vertical-align: top;
}

.ui.large.label {
    margin: 1px !important;
}

.w-50 {
    width: 50% !important;
}

.result-label {
    margin: 2.5px !important;
    font-size: 2em !important;
    border-radius: 0.4em !important;
}

.result-page {
    margin: 30px;
    padding-bottom: 30px;
}

#github-url {
    margin-top: 50px;
    display: block;
    text-align: center;
}